@model IEnumerable<ProductViewModel>

<h2>Product List</h2>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th class="pointer" onclick="sortTable(0)">
            Name
            </th>
            
            <th class="pointer" onclick="sortTable(1)">
                Description
            </th>

            <th class="pointer" onclick="sortTable(2)">
            Price
            </th>

            <th class="pointer" onclick="sortTable(3)">
            Stock
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.InStock</td>
            </tr>
        }
    </tbody>
</table>
